.file-box {
  border: 1px solid grey;
  margin-bottom: 12px;
  padding: 12px;
  height: calc(100% - 12px);

  & .file-box__heading {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  & .file-box__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  & .file-box__image-box {
    text-align: center;
  }

  & .file-box__image {
    max-width: 100%;
  }
}
